# GitHub Actions CI/CD Workflow

name: Build and Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        build_type: [Release]
        
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1.8
      with:
        cmake-version: '3.14.x'
        
    - name: Setup Ninja
      uses: seanmiddleditch/gha-setup-ninja@master
      
    - name: Create Build Environment
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        
    - name: Build
      run: |
        cd build
        cmake --build . --config ${{ matrix.build_type }}
        
    - name: Run Tests
      run: |
        cd build
        ctest --output-on-failure
        
    - name: Upload Artifacts (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v3
      with:
        name: coreMusicPlayer-windows-${{ matrix.build_type }}
        path: build/bin/coreMusicPlayer.exe
        
    - name: Upload Artifacts (Linux)
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v3
      with:
        name: coreMusicPlayer-linux-${{ matrix.build_type }}
        path: build/bin/coreMusicPlayer
        
    - name: Upload Artifacts (macOS)
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@v3
      with:
        name: coreMusicPlayer-macos-${{ matrix.build_type }}
        path: build/bin/coreMusicPlayer